/*Input Styles*/

* {
    font-family: "Roboto", sans-serif;
}

#index-outer-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: auto;
}

.row-outer {
    width: 100%;
    margin-top: 4em;
}

.row-inner {
    width: 100%;
}

#left-column, #right-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Jarak antar elemen form*/
#variable-form .input-group {
    margin-bottom: 2em;
}

.form-control, .input-group-text {
    border-color: gray;
    border-radius: .25em;
}

.form-control {
    padding-left: 1em;
}

.input-group-text {
    background-color: #607EAA;
    color: white;
    padding-inline: 1em;
}

#submit-button {
    display: flex;
    justify-content: center;
}

#submit-button input {
    width: 50%;
    height: 2.5em;
    padding-block: .25em;
    padding-inline: 1em;
    background-color: #E8AA42;
    color: white;
    border-radius: 1.5em;
    font-size: medium;
}

#submit-button input:hover {
    background-color: rgba(232,170,66,0.71);
}

#submit-button input:active {
    background-color: rgba(232,170,66,0.78);
}

/*Disable Input type=number arrow/spinner*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#index-inner-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-column .card p {
    margin-bottom: 0;
}

#right-column .card {
    width: 100%;
    padding-block: .5em;
    background-color: #FFE5B4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#right-column .card-body {
    font-size: .75rem;
}

/*©[Kelompok 1 PW SI-E 2024]*/

.form-control:focus {
    box-shadow: none;
}

.form-control:focus::placeholder {
    color: lightgray;
}

/*Header Styles*/
header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header nav {
    background-color: #607EAA;
}

header .navbar-brand {
    color: #ECF4D6;
}

/*Output Styles*/
#output-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.output-card {
    width: 450px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #FFE5B4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.output-card img {
    width: 100%; /* Atur lebar gambar */
    height: 100%; /* Atur tinggi gambar */
    border-radius: 8px;
}

.back-button {

    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 24px;
    background-color: #E8AA42;
    color: #e7e7e7;
    text-decoration: none; /* Menghilangkan dekorasi tautan */
    transition: background-color 0.3s; /* Efek transisi warna latar belakang */
}

/*Footer Styles*/
footer {
    background-color: #607EAA;
    text-align: center;
    padding: 3rem 0;
    position: relative;
    color: #ECF4D6;

}